*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}
body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.container{
  border:1px solid red;
  padding:10px;
  display:flex;
  gap:10px;
  align-items:center;
  width:100%;
  max-width:540px;
  flex-wrap:wrap;
}

.container a.eg_btn{
  display:inine-block;
  align-items:center;
  text-decoration:none;
  padding:8px 5px 6px;
  background-color:purple;
  color:white;
  text-transform:uppercase;
}