*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: monospace;
}

body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

html{
	font-size: 62.5%;
}

.bg__change-btn{
	padding:1rem 4rem;
	border:.3rem solid black;
	background-color: yellow;
	color:black;
	font-weight: bold;
	letter-spacing: .16rem;
	border-radius: 1rem;
	cursor:pointer;
	transition: scale 0.5s;
}

.bg__change-btn:active{
	scale:1.1;
}