*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    position: relative;
    min-height: 100vh;
    background-color: #b2ebf2;
}

html{
    font-size: 62.5%;
}

#clock-container{
    width: 45vw;
    height: 45vw;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#clock{
    width: 100%;
    height: 100%;
    border: .2rem solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.number{
    --rotation: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 0.1rem;
    font-weight: bold;
    font-size: clamp(1.6rem,3.6vw,2.2rem);
    font-family: monospace;
    rotate: calc(var(--rotation)*1deg);
    color:#7b1fa2;
}

.number > span{
    display: inline-block;
}


/* numbers */

.number-1{
    --rotation:30;
}

.number-2{
    --rotation:60;
}

.number-3{
    --rotation:90;
}
.number-3 > span{
    rotate:-90deg;
}


.number-4{
    --rotation:120;
}
.number-4 > span{
    rotate:180deg;
}


.number-5{
    --rotation:150;
}
.number-5 > span{
    rotate:180deg;
}


.number-6{
    --rotation:180;
}
.number-6 > span{
    rotate:180deg;
}

.number-7{
    --rotation:210;
}
.number-7 > span{
    rotate:180deg;
}


.number-8{
    --rotation:240;
}
.number-8 > span{
    rotate:180deg;
}


.number-9{
    --rotation:270;
}
.number-9 > span{
    rotate:90deg;
}

.number-10{
    --rotation:300;
}

.number-11{
    --rotation:330;
}

/*center dot*/
#clock::after{
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color:black;
    z-index: 999;
}

/* hands */
#hour-hand,#minute-hand,#second-hand{
    position: absolute;
    border-radius: .3rem;
    transform-origin: bottom;   
}
#hour-hand{
    --rotation:0;
    width: 2.3%;
    height: 30%;
    background-color: black;
    top: 20%;
    left: 49.1%;
    rotate:calc(var(--rotation)*1deg);
}
#minute-hand{
    --rotation:0;
    width: 2%;
    height: 36%;
    background-color: black;
    top: 15%;
    left: 49.1%;
    rotate:calc(var(--rotation)*1deg);
}
#second-hand{
    --rotation:0;
    width: 1%;
    height: 46%;
    background-color: black;
    top: 5%;
    left: 49.8%;
    rotate:calc(var(--rotation)*1deg);
}